.project-cont {
    overflow: hidden;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: var(--celadon)
}

.project-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.project-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid var(--tiffany-blue);
    cursor: pointer;
}

.project-item:hover {
    border: 3px solid transparent;
}

.todos-cont {
    flex: 1;
}