h2 {
    margin-bottom: 10px;
}

.todo-element {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    border: 3px solid var(--tiffany-blue);
    cursor: pointer;
    gap: 20px;

    margin-bottom: 5px;
}

.todo-element > :first-child {
    flex: 1;
}

.todo-infos {
    display: flex;
    align-items: center;
    gap: 10px;  
    white-space: nowrap;
    justify-content: space-between;
}

.todo-infos > :first-child,
.todo-infos > :nth-child(2) {
    display: flex;
    gap: 10px;
}

.add-todo-btn {
    align-self: center;
}

.add-todo-dialog, 
.update-todo-dialog {
    margin: auto;
}



.add-todo-dialog,
.update-todo-dialog {
    width: 60%;
    margin: auto; 
    padding: 30px 40px;;
    background-color: var(--tyrian-purple);
    border: none;
    border-radius: 10px;
    color: var(--celadon)
}

.add-todo-dialog > .inputs-cont,
.update-todo-dialog > .inputs-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}

.add-todo-dialog > .inputs-cont h3,
.update-todo-dialog >  .inputs-cont h3 {
    margin: 10px 0 10px 0;
}

.add-todo-dialog > button,
.update-todo-dialog > button {
    color: var(--celadon);
    background-color: transparent;
    border: 3px solid var(--celadon);
    padding: 7px 14px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s;
}

.add-todo-dialog > button:hover,
.update-todo-dialog > button:hover {
    border: 3px solid transparent;
    background-color: var(--celadon);
    color: var(--tyrian-purple);
}

.add-todo-dialog > .inputs-cont > input,
.update-todo-dialog > .inputs-cont > input,
.add-todo-dialog > .inputs-cont > textarea,
.update-todo-dialog > .inputs-cont > textarea,
.add-todo-dialog > .inputs-cont > select,
.update-todo-dialog > .inputs-cont > select {
    background: var(--violet);
    color: var(--celadon);
    padding: 5px 15px;
    border: 2px solid var(--celadon);
    border-radius: 5px;
    font-size: 1rem;
}

.add-todo-dialog > .inputs-cont > input:focus,
.update-todo-dialog > .inputs-cont > input:focus,
.add-todo-dialog > .inputs-cont > textarea:focus,
.update-todo-dialog > .inputs-cont > textarea:focus,
.add-todo-dialog > .inputs-cont > select:focus,
.update-todo-dialog > .inputs-cont > select:focus {
    outline: 2px dotted var(--celadon);
}






